<footer class="w-100 text-muted" style="min-height:50px; background-color: #1E272E; position: fixed; bottom: 0; z-index: 99;">
<p class="text-light text-center">© 2025 ANIL — Licensed under the <a href="/LICENSE.txt" target="_blank" class="text-decoration-none text-light">MIT License</a></p>
</footer>