<% layout("layouts/boilerplate") %> 
<body>
  <div class="container mt-5">
    <% if (locals.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= locals.error %>
      </div>
    <% } %>

    <div class="login-card card shadow-lg p-4">
      <h2 class="text-center mb-4">Login</h2>
      <form action="/login" method="POST">
        
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            required 
            autocomplete="email"
          >
        </div>

        <div class="mb-3 " >
          <label for="password" class="form-label">Password</label>
         <div class="input-group">
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            required 
            autocomplete="new-password"
            
          >  
          <button onclick="ShowClick()" type="button" id="btnShow" class="btn bi bi-eye-slash  text-center"></button>        
         </div>
           
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>

      </form>
    </div>
  </div>
  <script>
  function ShowClick(){
    let pwd =document.getElementById("password");
    let Btn =document.getElementById("btnShow");

    Btn.className=(Btn.className === "bi bi-eye btn ")?"bi bi-eye-slash btn " :"bi bi-eye btn ";
    pwd.type=(pwd.type === "password")?"text":"password";
  }
  </script>
</body>
