<% layout("layouts/boilerplate") %>
<body>
    <div class="contaner mt-5">
        <div class="login-card card shadow-lg p-4">
     <h1 class="text-center mb-4">Signup Page</h1>
    
      <form action="/signup" method="POST">
        <div class="mb-4">
            <label class="form-label" for="name">Username:</label>
            <input  class="form-control"  type="text" id="username" name="name" required>
        </div>
        
        <div class="mb-4">
           <label class="form-label" for="name">Username:</label>
           <input  class="form-control"  type="text" id="username" name="name" required>
       </div>
        
        <div class="mb-4">
            <label class="form-label" for="name">Username:</label>
            <input  class="form-control"  type="text" id="username" name="name" required>
        </div>
        
        <button class="btn btn-primary w-100" type="submit">Sign Up</button>
    </form>
</div>
</div>
</div>
</body>
