<% layout("layouts/boilerplate") %>
<body>
  <div class="container text-center ">
    <div class="row align-item-center">
      <h1>QR Code Generated!</h1>
    
      <div class="col-12">
        <img src="../qr_image.png" alt="QR Code" id="qrImage">
      </div>
     
       <div class="col-12">  
      <p>URL: <%= url %></p>
       </div>
        <div class="col-12">
          <a href="../qr_image.png" download="qr_image.png" class="btn btn-success">
            Download QR Code
          </a>
        </div>
    </div>
  </div>
</body>

